body h3{
  font-size: 23px;
  font-family: 'Verdana';
  text-align: center;
}

body h4{
  font-size: 16px;
  font-family: 'Verdana';
  text-align: center;
}

label{
    font-size: 17px;
    font-family: 'Verdana';
    color: #2E2E2E;
    text-align: center;
    width: 100%;
}

table td{
  border: 2px solid black;
}

table{
  width: 100%;
  text-align: center;
}

#nuevo_proyec{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
  font-size: 15px;
  font-family: 'Verdana';
  float: right;
}

#resultados{
  margin-top: 12px;

}

a{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
  font-size: 15px;
  font-family: 'Verdana';
  text-align: center;
}

div{
  text-align: center;
}

input{
  font-size: 14px;
  font-family: 'Verdana';
}

#enviar{
  float: right;
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
  font-size: 15px;
  font-family: 'Verdana';
}

#guardar{
  float: right;
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
  font-size: 15px;
  font-family: 'Verdana';
}

#regresar_inicio{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
  font-size: 15px;
  font-family: 'Verdana';
  float: right;
}
 #cancelar{
   border-radius: 5px;
   padding: 10px 7px;
   text-decoration: none;
   color: #fff;
   background-color: #333;
   margin: 5px;
   font-size: 15px;
   font-family: 'Verdana';
   float: right;
 }
